.container {
    background: #2f3237;
    background: radial-gradient(ellipse at center,  #212528  0%, #2f3237 90%);
    background-size: 100%;
}

#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.time {
    letter-spacing: 0.05em;
    font-size: 50px;
    padding: 5px 0;
}
.date {
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: 700;
}
.text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}