.container::-webkit-scrollbar {
    display: none;
}
.container {
    background-color: #2f3237;
    height: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    position: relative;
    scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}
.row {
    height: 50%;
    display: flex;
    align-items: center;
}
@media (max-width: 770px) {
    .container{
        overflow-y: scroll;
    }
    .row {
        height: auto;
    }
}